<div class="text-center"><h1>Danh sách khách hàng</h1></div>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <form class="d-flex" role="search" action="" method="get">
      <input class="form-control me-2" type="search" placeholder="Tìm kiếm theo tên" aria-label="Search" name="name">
      <button class="btn btn-outline-success" type="submit">Tìm kiếm</button>
    </form>
  </div>
</div>
<table id="tableStudent" class="table table-striped table-bordered">
  <thead>
  <tr class="bg-primary">
    <th>STT</th>
    <th>Tên</th>
    <th>Giới tính</th>
    <th>Số điện thoại</th>
    <th>Xếp hạng</th>
    <th>Địa chỉ</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let customer of customer; index as i">
    <td>{{i + 1}}</td>
    <td>{{customer.name}}</td>
    <td>{{customer.gender}}</td>
    <td>{{customer.phoneNumber}}</td>
    <td>{{customer.customerType}}</td>
    <td>{{customer.address}}</td>
    <td>
      <a href="#">
        <i class="fa-sharp fa-solid fa-pen-to-square"></i>
      </a>
    </td>
    <td>
      <button class="btn btn-danger btn-outline-secondary btn-sm" data-bs-toggle="modal"
              data-bs-target="#exampleModalDelete">
        <i class="fa-solid fa-trash"></i>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="modal fade" id="exampleModalDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form>
        <div class="modal-body">
          <input type="text" hidden name="id" id="idDelete">
          <p> Bạn có muốn xóa : </p>
          <p id="nameDelete"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary" value="delete">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('#tableStudent').dataTable({
      "dom": 'lrtip',
      "lengthChange": false,
      "pageLength": 3
    });
  });
</script>
