<div class="d-flex justify-content-center">
  <form method="post" class="w-50 border border-2 border-success p-3 rounded form-signin">
    <select id="service" onchange="myFunction(this.value)" class="form-select form-select-lg mb-3" aria-label=".form-select-lg example">
      <option> -- Choose Service --</option>
      <option value="villa">Villa</option>
      <option value="room"> Room</option>
      <option value="house"> House</option>
    </select>
    <div class="container justify-content-center">
      <div class="input-group" style="display: block">
        <label>Tên dịch vụ</label>
        <p class="input-group-text">
          <input type="text" class="form-control" name="name" placeholder="Tên dịch vụ"/>
        </p>
      </div>
      <div class="input-group" style="display: block">
        <label> Diện tích</label>
        <p class="input-group-text">
          <input type="text" class="form-control" name="area" placeholder="Diện tích"/>
        </p>
      </div>
      <div class="input-group " style="display: block">
        <label>Giá thuê</label>
        <p class="input-group-text">
          <input type="text" class="form-control" name="cost" placeholder="Giá thuê">
        </p>
      </div>
      <div class="input-group" style="display: block">
        <label>Số người tối đa</label>
        <p class="input-group-text">
          <input type="text" class="form-control" name="maxPeople" placeholder="Số người tối đa">
        </p>
      </div>
      <label>Kiểu thuê</label>
      <select class="form-select form-select-lg mb-3"
              aria-label=".form-select-lg example" >
        <option>Giờ</option>
        <option>Ngày</option>
        <option>Tháng</option>
        <option>Năm</option>
      </select>
      <div class="input-group" id="villa1" style="display: block">
        <label>Tiêu chuẩn phòng</label>
        <p class="input-group-text">
          <input type="text" class="form-control" name="standardRoom" placeholder="Tiêu chuẩn phòng">
        </p>
      </div>
      <div class="input-group" id="villa2" style="display: none">
        <label>Tiện nghi khác</label>
        <p class="input-group-text">
          <input type="text" class="form-control" name="descriptionOtherConvenience"
                 placeholder="Description Other Convenience">
        </p>
      </div>
      <div class="input-group" id="villa3" style="display: none">
        <label>Diện tích hồ bơi</label>
        <p class="input-group-text">
          <input type="text" class="form-control" name="poolArea">
        </p>
      </div>
      <div class="input-group" id="villa4" style="display: none">
        <label>Số tầng</label>
        <p class="input-group-text">
          <input type="text" class="form-control" name="numberOfFloors" placeholder="Số tầng">
        </p>
      </div>
      <div class="input-group" id="room" style="display: none">
        <label>Dịch vụ miễn phí đi kèm</label>
        <p class="input-group-text intro">
          <input type="text" class="form-control" name="facilityFree" placeholder="Free Service">
        </p>
      </div>
      <div class="input-group">
        <button class="btn btn-lg btn-success" type="submit" value="save">Save</button>
      </div>
    </div>
  </form>
</div>
