<body>
<div class="text-center"><h2>Thêm mới khách hàng</h2></div>
<div id="form" style="text-align: center">
  <form [formGroup]="customerForm" (ngSubmit)="submit()">
    <input type="hidden"/>
    <div>
      <label><b>Tên khách hàng</b></label>
      <input type="text" formControlName="name"/>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="customerForm.controls.name.hasError('required') &&
                      customerForm.controls.name.touched">
      Tên khách hàng không được để trống!
    </div>
    <div>
      <label><b>Ngày sinh</b></label>
      <input type="date" formControlName="dayOfBirth"/>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="customerForm.controls.dayOfBirth.hasError('invalid18_80') &&
                      customerForm.controls.dayOfBirth.touched">
      Tuổi khách hàng phải từ 18-80!
    </div>
    <div>
      <label><b>Giới tính</b></label>
      <input type="radio" [value]="1"  formControlName="gender"/>Nam
      <input type="radio" [value]="0" formControlName="gender"/>Nữ
      <input type="radio" [value]="2"  formControlName="gender"/>LGBT
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="customerForm.controls.gender.hasError('required') &&
                      customerForm.controls.gender.touched">
      Vui lòng chọn giới tính!
    </div>
    <div>
      <label><b>Số CMND/CCCD</b></label>
      <input type="text"formControlName="idCard"/>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="customerForm.controls.idCard.hasError('required') &&
                      customerForm.controls.idCard.touched">
      Số CMND/CCCD không được để trống!
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="customerForm.controls.idCard.hasError('pattern') &&
                      customerForm.controls.idCard.touched">
      CMND/CCCD phải đúng định dạng XXXXXXXXX hoặc XXXXXXXXXXXX (X là số 0-9)!
    </div>
    <div>
      <label><b>Số điện thoại</b></label>
      <input type="text" formControlName="phoneNumber"/>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="customerForm.controls.phoneNumber.hasError('required') &&
                      customerForm.controls.phoneNumber.touched">
      Số điện thoại không được để trống!
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="customerForm.controls.phoneNumber.hasError('pattern') &&
                      customerForm.controls.phoneNumber.touched">
      Số điện thoại phải đúng định dạng 090xxxxxxx hoặc 091xxxxxxx hoặc (84)+90xxxxxxx hoặc (84)+91xxxxxxx!
    </div>
    <div>
      <label><b>Email</b></label>
      <input type="email" formControlName="email"/>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="customerForm.controls.email.hasError('required') &&
                      customerForm.controls.email.touched">
      Email không được để trống!
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="customerForm.controls.email.hasError('email') &&
                      customerForm.controls.email.touched">
      Email phải đúng định dạng!
    </div>
    <div>
      <label><b>Địa chỉ</b></label>
      <input type="text" formControlName="address"/>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="customerForm.controls.address.hasError('required') &&
                      customerForm.controls.address.touched">
      Địa chỉ không được để trống!
    </div>
    <div>
      <label><b>Xếp hạng</b></label>
      <select formControlName="customerType">
        <option *ngFor="let customerType of customerType"
                [ngValue]="customerType" >
          {{customerType.name}}
        </option>
      </select>
    </div>
    <div class="alert alert-danger" role="alert"
         *ngIf="customerForm.controls.customerType.hasError('required') &&
                      customerForm.controls.customerType.touched">
      Vui lòng chọn loại khách!
    </div>
    <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark"
            [disabled]="customerForm.invalid">
      -- Lưu <i class="fa-solid fa-floppy-disk"></i> --</button>
  </form>
</div>
</body>
