<body>
<div class="text-center"><h2>Chỉnh sửa thông tin khách hàng</h2></div>
<div id="form" style="text-align: center">
  <form [formGroup]="updateCustomerFormGroup">
    <input type="hidden" formControlName="id"/>
    <div>
      <label><b>Tên khách hàng</b></label>
      <input type="text" formControlName="name"/>
    </div>
    <div>
      <label><b>Ngày sinh</b></label>
      <input type="date" formControlName="dayOfBirth"/>
    </div>
    <div>
      <label><b>Giới tính</b></label>
      <input type="radio" [value]="1"  formControlName="gender"/>Nam
      <input type="radio" [value]="0" formControlName="gender"/>Nữ
      <input type="radio" [value]="2"  formControlName="gender"/>LGBT
    </div>
    <div>
      <label><b>Số CMND/CCCD</b></label>
      <input type="text"formControlName="idCard"/>
    </div>
    <div>
      <label><b>Số điện thoại</b></label>
      <input type="number" formControlName="phoneNumber"/>
    </div>
    <div>
      <label><b>Email</b></label>
      <input type="email" formControlName="email"/>
    </div>
    <div>
      <label><b>Địa chỉ</b></label>
      <input type="text" formControlName="address"/>
    </div>
    <div>
      <label><b>Xếp hạng</b></label>
      <select formControlName="customerType" [compareWith]="compareWithId">
        <option *ngFor="let customerType of customerTypes"
                [ngValue]="customerType">
          {{customerType.name}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-group-sm btn-info" (click)="update(id)">Cập nhật</button>
  </form>
</div>
</body>
