<body>
<div class="text-center"><h2>Chỉnh sửa thông tin khách hàng</h2></div>
<div id="form" style="text-align: center">
  <form method="post">
    <input type="hidden"/>
    <div>
      <label><b>Tên khách hàng</b></label>
      <input type="text" />
    </div>
    <div>
      <label><b>Ngày sinh</b></label>
      <input type="date" />
    </div>
    <div>
      <label><b>Giới tính</b></label>
      <input type="radio"  value="1"/>Nam
      <input type="radio"  value="0"/>Nữ
      <input type="radio"  value="2"/>LGBT
    </div>
    <div>
      <label><b>Số CMND/CCCD</b></label>
      <input type="text"/>
    </div>
    <div>
      <label><b>Số điện thoại</b></label>
      <input type="number"/>
    </div>
    <div>
      <label><b>Email</b></label>
      <input type="email"/>
    </div>
    <div>
      <label><b>Địa chỉ</b></label>
      <input type="text"/>
    </div>
    <div>
      <label><b>Xếp hạng</b></label>
      <select>
        <option></option>
      </select>
    </div>
    <input id="save" type="submit" value="Lưu"/>
  </form>
</div>
</body>
