<div class="modal fade" id="deleteFacility" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Bạn có chắc muốn xóa
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger">Save changes</button>
      </div>
    </div>
  </div>
</div>
<div class="text-center"><h1>Danh sách dịch vụ</h1></div>
<div class="row">
  <div class="col-lg-3"></div>
  <div class="col-lg-3"></div>
  <div class="col-lg-6">
    <form class="d-flex" role="search" action="" method="get">
      <input class="form-control me-2" type="search" placeholder="Tìm kiếm theo tên" aria-label="Search" name="name">
      <button class="btn btn-outline-success" type="submit" style="background: chartreuse">Tìm kiếm</button>
    </form>
  </div>
</div>
<table id="tableStudent" class="table table-striped table-bordered">
  <thead>
  <tr class="bg-primary">
    <th>STT</th>
    <th>Tên dịch vụ</th>
    <th>Giá thuê</th>
    <th>Số người tối đa</th>
    <th>Tiêu chuẩn phòng</th>
    <th>Số tầng</th>
    <th>Kiểu thuê</th>
    <th>Loại dịch vụ</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let facility of facility; index as i">
    <td>{{i + 1}}</td>
    <td>{{facility.name}}</td>
    <td>{{facility.cost}}</td>
    <td>{{facility.maxPeople}}</td>
    <td>{{facility.standardRoom}}</td>
    <td>{{facility.numberOfFloors}}</td>
    <td>{{facility.rentType}}</td>
    <td>{{facility.facilityType}}</td>
    <td class="text-center">
      <button class="btn-group btn btn-info btn-outline-secondary">
        <span class="text-warning"><i class="fa-solid fa-pen-to-square"></i></span>
      </button>
    </td>
    <td class="text-center">
      <button class="btn-group btn btn-danger btn-outline-secondary " data-bs-toggle="modal"
              data-bs-target="#exampleModalDelete">
        <span class="text-light"><i class="fa-solid fa-trash-can"></i></span>
      </button>
    </td>
  </tr>
  </tbody>
</table>
